#topbar {
  position: relative;
  top: 0;
  height: auto;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

#topbar p {
  margin: 0;
}

#slider {
  pointer-events: auto;
  z-index: 1;
  touch-action: pan-x;
  display: flex;
  cursor: grab;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 10%,
    rgba(0, 0, 0, 0) 75%
  );
}

#slider::-webkit-scrollbar {
  display: none;
}

#slider img {
  touch-action: pan-x;
  width: 25%;
  margin: 5px;
}

.slider-closed {
  justify-content: center;
}

.slider-closed img {
  transition: 0.5s ease;
  width: 10% !important;
  opacity: 0.75;
}

.transition-class img {
  transition: 0.5s ease;
}

.img-selected {
  outline: 2px solid rgba(255, 255, 255, 0.75);
  outline-offset: -2px;
  transition: 0s ease !important;
}

#img-view {
  position: absolute;
  top: 0;
  overflow: hidden;
  max-width: 1200px;
  max-height: 1040px;
  z-index: -1;
  transform: scale(1, 1) translateX(-300px);
  transform-origin: center center;
  pointer-events: all;
  transition: 0.5s ease-out;
}

.img-scaled {
  transform: scale(0.5, 0.5) translateX(-300px);
  -ms-transform: scale(0.5, 0.5) translateX(-300px);
  -webkit-transform: scale(0.5, 0.5) translateX(-300px);
}

#appContainer {
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  pointer-events: none;
}
